<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BelajarQRCodeScanGenerate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EDAFC6F26E1A51A007978C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EDAFC8526E1A51A007978C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EDAFC9026E1A51B007978C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
